<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bisección</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>    
    <!-- Agrega aquí los enlaces para los estilos CSS necesarios -->
</head>
<body>

<div class="sidebar">
    <!-- Agrega aquí los enlaces para los diferentes métodos si lo deseas -->
</div>

<div class="content">
    <h1>Bisección</h1>
    <h3>{{ message }}</h3>
    <div class="result-container">
        <!-- Aquí se mostrará la tabla generada -->
        {{ df | safe }}
    </div>
    <div class="plot-container">
        <!-- Aquí se mostrará el gráfico de Plotly -->
        {{ plot_html | safe }}
    </div>
</div>

<!-- Agrega aquí los scripts necesarios, como el de Plotly si es necesario -->

</body>
</html>
