<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nombre_metodo}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>    
    <!-- Agrega aquí los enlaces para los estilos CSS necesarios -->

    
</head>
<body>

<div class="sidebar">
    <!-- Agrega aquí los enlaces para los diferentes métodos si lo deseas -->
</div>

<div class="content">
    <h1>{{nombre_metodo}}</h1>
    {% if vandermonde %}
    <table>
        <tr>
            <td>
                <div>
                    <h2>A (Vandermonde)</h2>
                        <!-- Matrix entries will be dynamically added here -->
                        <div style="display: flex;
                        justify-content: center;
                        margin-bottom: 20px;">
                            {{ma | safe}}
                        </div>
                </div>
            </td>
            <td>
                <div>
                    <h2>x</h2>
                </div>
            </td>
            <td>
                <div>
                    <h2>x(variables)</h2>
                        <!-- Matrix entries will be dynamically added here -->
                    <div style="display: flex;
                    justify-content: center;
                    margin-bottom: 20px;">
                        {{va | safe}}
                    </div>
                        
                </div>
            </td>
            <td>
                <div>
                    <h2>=</h2>
                </div>
            </td>
            <td>
                <div>
                    <h2>b (solucion)</h2>
                        <!-- Matrix entries will be dynamically added here -->
                        <div style="display: flex;
                        justify-content: center;
                        margin-bottom: 20px;">
                            {{vb | safe}}
                        </div>
                </div>
            </td>
        </tr>
    </table>
    {% endif %}
    <div class="result-container">
        <!-- Aquí se mostrará la tabla generada -->
        {% if spline %}
            <div>
                <h2>Coeficientes</h2>
                    <!-- Matrix entries will be dynamically added here -->
                    <div>
                        {{coef | safe}}
                    </div>
            </div>
            <div>
                <h2>Trazadores s(x)</h2>
            </div>
        {% endif %}
        {{ df | safe }}
        {{ df2 | safe }}
    </div>
    <h3 >{{ mensaje }}</h3>
    <h3>{{ polinomio }}</h3>
    <div class="plot-container">
        <!-- Aquí se mostrará el gráfico de Plotly -->
        {{ plot_html | safe }}
    </div>
    
</div>
<!-- Agrega aquí los scripts necesarios, como el de Plotly si es necesario -->

</body>
</html>
